Repository Masked-Kunsiquat/itinerary-generator: changes, and which Codecov flags are due for each by the changed paths.
All: Parser Module, Formatting Module, Renderer Module, Lookups Module, Web Application, CLI Module, Core Functionality

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "90...100"

  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 1%

comment:
  layout: "header, diff, flags, components" 
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
  
  individual_components:
    - component_id: parser
      name: Parser Module
      paths:
        - itinerary_generator/parser.py
      
    - component_id: formatting
      name: Formatting Module
      paths:
        - itinerary_generator/formatting.py
      
    - component_id: renderer
      name: Renderer Module
      paths:
        - itinerary_generator/renderer.py
      
    - component_id: lookups
      name: Lookups Module
      paths:
        - itinerary_generator/lookups.py
      
    - component_id: app
      name: Web Application
      paths:
        - itinerary_generator/app.py
      
    - component_id: cli
      name: CLI Module
      paths:
        - itinerary_generator/cli.py
        
    - component_id: core
      name: Core Functionality
      paths:
        - itinerary_generator/generate_itinerary.py

refactor: improve security and test practices across the codebase
  CONTRIBUTING.md
  Makefile
  tests/test_generate_itinerary.py
  tests/test_integration.py
  tests/test_renderer.py
  tests/test_renderer_convert_to_pdf.py
Due: none

fix: ensure cross-platform time formatting compatibility
  itinerary_generator/formatting.py
Due: Formatting Module

feat: improve error handling and robustness Add comprehensive error handling to improve application robustness:
  itinerary_generator/generate_itinerary.py
  itinerary_generator/parser.py
Due: Parser Module, Core Functionality

last chagnes (i hope)
  itinerary_generator/generate_itinerary.py
  itinerary_generator/parser.py
Due: Parser Module, Core Functionality

trying something again
  itinerary_generator/generate_itinerary.py
Due: Core Functionality

- Handles loading and parsing the JSON data - Extracts timezone information - Creates the basic day structure
  itinerary_generator/parser.py
Due: Parser Module

- Handles timezone conversions - Maps transport types to emoji icons - Formats various event types with times - Adds events to appropriate days - Contains the core fixed timezone handling logic
  itinerary_generator/formatting.py
Due: Formatting Module

- Creates the template context for Jinja2 - Renders the HTML using templates - Handles PDF conversion via Gotenberg
  itinerary_generator/renderer.py
Due: Renderer Module

- Orchestrates the overall process - Provides the main CLI entry point - Coordinates between all other modules
  itinerary_generator/generate_itinerary.py
Due: Core Functionality

fixing timezone bug fix/modularizing
  itinerary_generator/app.py
  itinerary_generator/cli.py
  itinerary_generator/web.py
Due: Web Application, CLI Module

Fix security issue: Remove debug mode in production
  itinerary_generator/app.py
  itinerary_generator/web.py
Due: Web Application

Separate trip name from destination in itinerary display
  itinerary_generator/renderer.py
  itinerary_generator/templates/default-template.html
  tests/test_renderer_context.py
Due: Renderer Module

fix displaying transport info
  itinerary_generator/formatting.py
  scripts/setup_dev.sh
  tests/test_format_transport_events.py
  tests/test_transport_descriptions.py
Due: Formatting Module

removing some un-used imports
  tests/test_format_transport_events.py
  tests/test_transport_descriptions.py
Due: none

Fix timezone handling issues and add user timezone selection
  Dockerfile
  docker-compose.yaml
  itinerary_generator/app.py
  itinerary_generator/generate_itinerary.py
  itinerary_generator/parser.py
  itinerary_generator/templates/default-template.html
  itinerary_generator/templates/form.html
  tests/test_app.py
  tests/test_generate_itinerary.py
Due: Parser Module, Web Application, Core Functionality

Enhance timezone handling with specialized time utilities
  itinerary_generator/__init__.py
  itinerary_generator/formatting.py
  itinerary_generator/generate_itinerary.py
  itinerary_generator/templates/default-template.html
  itinerary_generator/time_utils.py
Due: Formatting Module, Core Functionality

Fix timezone handling for international trip itineraries
  itinerary_generator/app.py
  itinerary_generator/formatting.py
  itinerary_generator/generate_itinerary.py
  itinerary_generator/templates/form.html
  itinerary_generator/time_utils.py
Due: Formatting Module, Web Application, Core Functionality

Remove redundant "local time" annotation from itinerary
  itinerary_generator/formatting.py
Due: Formatting Module

Fix timezone display to respect original input times
  itinerary_generator/generate_itinerary.py
  itinerary_generator/parser.py
  itinerary_generator/renderer.py
  itinerary_generator/templates/default-template.html
  itinerary_generator/time_utils.py
Due: Parser Module, Renderer Module, Core Functionality

Refactor: Enhance test coverage and timezone handling
  itinerary_generator/cli.py
  itinerary_generator/formatting.py
  itinerary_generator/generate_itinerary.py
  itinerary_generator/parser.py
  itinerary_generator/time_utils.py
  itinerary_generator/web.py
  tests/test_adjust_timezones.py
  tests/test_formatting.py
  tests/test_generate_itinerary.py
  tests/test_parser.py
  tests/test_parser_timezone_handling.py
  tests/test_renderer.py
  tests/test_time_utils.py
  tests/test_timezone_integration.py
Due: Parser Module, Formatting Module, CLI Module, Core Functionality

docs: mark project as no longer maintained
  README.md
Due: none

docs: mark project as no longer maintained (#30)
  README.md
Due: none
